<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title></head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SIT722- DevOps Glossary</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Term</th>
                <th>Description</th>
                <th>References</th>
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>

    <script>
        
        const data = [
            ['1', 'Devops', 'Developers and operations (dev and ops) work together in DevOps. The methodology aims to facilitate a culture of collaboration and shared responsibility between the development team and the operations team.','GitLab. “DevOps Explained.” GitLab, 23 May 2022, about.gitlab.com/topics/devops/'],
            ['2', 'Agile Method ', 'An Agile methodology emphasizes continuous collaboration and improvement throughout the project lifecycle. During the planning, execution, and evaluation phases of a project, teams follow a cycle','Atlassian. “What Is Agile?” Atlassian, www.atlassian.com/agile#:~:text=What%20is%20the%20Agile%20methodology.'],
            ['3', 'Waterfall model', 'A waterfall design is a linear, sequential approach to software development lifecycles (SDLCs) that is popular in software engineering and product development.','“What Is Waterfall Model? - Definition from WhatIs.com.” SearchSoftwareQuality, www.techtarget.com/searchsoftwarequality/definition/waterfall-model#:~:text=The%20waterfall%20model%20is%20a.'],
            ['4', 'Command Line Interface', 'To run programs, manage files, interact with computers, and manage commands, command-line interfaces (CLIs) are text-based user interfaces (UIs).','What Is a Command-Line Interface (CLI)? SearchWindowsServer, www.techtarget.com/searchwindowsserver/definition/command-line-interface-CLI#:~:text=A%20command%2Dline%20interface%20(CLI)%20is%20a%20text%2D.'],
            ['5', 'MicroService', 'Microservices allow organizations to deliver large, complex applications rapidly, frequently, reliably and sustainably - a necessary capability for competing and winning.','Richardson, Chris. “Microservices.io.” Microservices.io, Chris Richardson, 2017, microservices.io/.'],
            ['6', 'Prototyping', 'It is an experimental process where design teams turn ideas into tangible objects, whether they be paper or digital. Design concepts are captured and tested on users using prototypes with varying degrees of fidelity.','Interaction Design Foundation. “What Is Prototyping?” The Interaction Design Foundation, UX courses, 2019, www.interaction-design.org/literature/topics/prototyping.'],
            ['7', 'Deployment', 'An application is deployed when it is rolled out across a company IT infrastructure or when an end user initiates it.','“What Is Software Deployment?” PagerDuty, www.pagerduty.com/resources/learn/what-is-software-deployment/.'],
            ['8', 'UX-Design', ' UX design involves the design of the entire process of acquiring and integrating the product, including aspects of branding, design, usability and function.','Interaction Design Foundation. “What Is User Experience (UX) Design?” The Interaction Design Foundation, 2019, www.interaction-design.org/literature/topics/ux-design.'],
            ['9', 'Adopt continuous delivery (CD)', 'The goal of continuous delivery is to ensure that your code changes are ready for primetime by ensuring they are automatically prepared through rigorous testing for deployment to production. Troubleshooting should be easier this way.','“Works Cited “What Is Continuous Integration, Deployment, and Delivery?” Simplilearn.com, www.simplilearn.com/tutorials/devops-tutorial/continuous-delivery-and-continuous-deployment.'],
            ['10', 'Continuous integration (CI)', 'Continuously integrate servers and test your software development team code. Run your apps in your environment rather than the developer sandbox to ensure they work.','“What Is Software Deployment?” PagerDuty, www.pagerduty.com/resources/learn/what-is-software-deployment/.'],
            ['11', 'Continuous Delivery (CD):', ' Automated code builds, tests, and deploys code changes to a staging or production environment after passing automated tests. Ensures that the code is always deployable.','“What Is Continuous Integration, Deployment, and Delivery?” Simplilearn.com, www.simplilearn.com/tutorials/devops-tutorial/continuous-delivery-and-continuous-deployment..'],
            ['12', 'Continuous Deployment:', 'The automatic deployment of code changes that pass automated tests is an extension of continuous delivery. Release cycles are accelerated and manual intervention is reduced as a result of this practice..','“What Is Software Deployment?” PagerDuty, www.pagerduty.com/resources/learn/what-is-software-deployment/.'],
            ['13', 'Containerization', 'Application packaging into lightweight, portable containers with all its dependencies. It is easier to deploy and scale containers across a variety of environments due to their consistency.' ,'Datadog. “What Are Containerized Applications? | Datadog.” What Are Containerized Applications?, 16 Feb. 2022, www.datadoghq.com/knowledge-center/containerized-applications/#:~:text=The%20purpose%20of%20containerization%20is. Accessed 10 Aug. 2023.'],
            ['14', 'Docker', 'Container management and deployment platform. The Docker container image allows developers to package applications and their dependencies together.','“What Is a Container?” Docker, www.docker.com/resources/what-container/.'],
            ['15', 'Orchestration', 'Managing containerized applications automatically, including deploying, scaling, and monitoring. Orchestration tools such as Kubernetes are widely used.',' “What Is Orchestration?” Www.redhat.com, www.redhat.com/en/topics/automation/what-is-orchestration#:~:text=Orchestration%20is%20the%20automated%20configuration.'],
            ['16', 'Infrastructure as Code (IaC)', 'Automation and code are used to manage and provision infrastructure. Infrastructure as code can be defined with tools like Terraform and Ansible.','“What Is Infrastructure as Code? How It Works, Best Practices, Tutorials.” Stackify, 5 Sept. 2019, stackify.com/what-is-infrastructure-as-code-how-it-works-best-practices-tutorials/.'],
            ['17', 'Version Control', 'Coding and digital assets can be tracked over time by tracking changes. There are many versions control systems out there, but Git is one of the most popular.','“What Is Git Version Control?” GitLab, about.gitlab.com/topics/version-control/what-is-git-version-control/. '],
            ['18', 'Git', 'Managing changes to code and tracking versions is possible with a distributed version control system.','“What Is Git Version Control?” GitLab, about.gitlab.com/topics/version-control/what-is-git-version-control/.'],
            ['19', 'Pipeline', 'A series of automated steps that code changes must go through from development to deployment. Code changes are built, tested, and deployed.',' “How to Build a DevOps Pipeline: A Beginner’s Guide.” PagerDuty, www.pagerduty.com/resources/learn/what-is-a-pipeline-in-devops-and-how-to-build/#:~:text=A%20DevOps%20pipeline%20is%20a. Accessed 10 Aug. 2023..'],
            ['20', 'Scrum', 'Sprints are time-bound iterations that form the basis of an Agile framework. Adaptability, self-organization, and regular communication are key concepts of Scrum.','Scrum.org. “What Is Scrum?” Scrum.org, www.scrum.org/resources/what-scrum-module.'],


        ];

        // Get the table body element
        const tableBody = document.getElementById('table-body');

        // Loop through the data and create the table rows and cells
        data.forEach((row) => {
            const tableRow = document.createElement('tr');

            row.forEach((cellData) => {
                const tableCell = document.createElement('td');
                tableCell.textContent = cellData;
                tableRow.appendChild(tableCell);
            });

            tableBody.appendChild(tableRow);
        });
    </script>
</body>
</html>
