<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title></head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SIT722- DevOps Glossary</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Term</th>
                <th>Description</th>
                <th>References</th>
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>

    <script>
        
        const data = [
            ['1', 'Devops', 'Developers and operations (dev and ops) work together in DevOps. The methodology aims to facilitate a culture of collaboration and shared responsibility between the development team and the operations team.','GitLab. “DevOps Explained.” GitLab, 23 May 2022, about.gitlab.com/topics/devops/'],
            ['2', 'Agile Method ', 'An Agile methodology emphasizes continuous collaboration and improvement throughout the project lifecycle. During the planning, execution, and evaluation phases of a project, teams follow a cycle','Atlassian. “What Is Agile?” Atlassian, www.atlassian.com/agile#:~:text=What%20is%20the%20Agile%20methodology.'],
            ['3', 'Waterfall model', 'A waterfall design is a linear, sequential approach to software development lifecycles (SDLCs) that is popular in software engineering and product development.','“What Is Waterfall Model? - Definition from WhatIs.com.” SearchSoftwareQuality, www.techtarget.com/searchsoftwarequality/definition/waterfall-model#:~:text=The%20waterfall%20model%20is%20a.'],
            ['4', 'Command Line Interface', 'To run programs, manage files, interact with computers, and manage commands, command-line interfaces (CLIs) are text-based user interfaces (UIs).','What Is a Command-Line Interface (CLI)? SearchWindowsServer, www.techtarget.com/searchwindowsserver/definition/command-line-interface-CLI#:~:text=A%20command%2Dline%20interface%20(CLI)%20is%20a%20text%2D.'],
            ['5', 'MicroService', 'Microservices allow organizations to deliver large, complex applications rapidly, frequently, reliably and sustainably - a necessary capability for competing and winning.','Richardson, Chris. “Microservices.io.” Microservices.io, Chris Richardson, 2017, microservices.io/.'],
            ['6', 'Prototyping', 'It is an experimental process where design teams turn ideas into tangible objects, whether they be paper or digital. Design concepts are captured and tested on users using prototypes with varying degrees of fidelity.','Interaction Design Foundation. “What Is Prototyping?” The Interaction Design Foundation, UX courses, 2019, www.interaction-design.org/literature/topics/prototyping.'],
            ['7', 'Deployment', 'An application is deployed when it is rolled out across a company IT infrastructure or when an end user initiates it.','“What Is Software Deployment?” PagerDuty, www.pagerduty.com/resources/learn/what-is-software-deployment/.'],
            ['8', 'UX-Design', ' UX design involves the design of the entire process of acquiring and integrating the product, including aspects of branding, design, usability and function.','Interaction Design Foundation. “What Is User Experience (UX) Design?” The Interaction Design Foundation, 2019, www.interaction-design.org/literature/topics/ux-design.'],
            ['9', 'Adopt continuous delivery (CD)', 'The goal of continuous delivery is to ensure that your code changes are ready for primetime by ensuring they are automatically prepared through rigorous testing for deployment to production. Troubleshooting should be easier this way.','“Works Cited “What Is Continuous Integration, Deployment, and Delivery?” Simplilearn.com, www.simplilearn.com/tutorials/devops-tutorial/continuous-delivery-and-continuous-deployment.'],
            ['10', 'Continuous integration (CI)', 'Continuously integrate servers and test your software development team code. Run your apps in your environment rather than the developer sandbox to ensure they work.','“What Is Software Deployment?” PagerDuty, www.pagerduty.com/resources/learn/what-is-software-deployment/.'],
            ['11', 'Continuous Delivery (CD):', ' Automated code builds, tests, and deploys code changes to a staging or production environment after passing automated tests. Ensures that the code is always deployable.','“What Is Continuous Integration, Deployment, and Delivery?” Simplilearn.com, www.simplilearn.com/tutorials/devops-tutorial/continuous-delivery-and-continuous-deployment..'],
            ['12', 'Continuous Deployment:', 'The automatic deployment of code changes that pass automated tests is an extension of continuous delivery. Release cycles are accelerated and manual intervention is reduced as a result of this practice..','“What Is Software Deployment?” PagerDuty, www.pagerduty.com/resources/learn/what-is-software-deployment/.'],
            ['13', 'Containerization', 'Application packaging into lightweight, portable containers with all its dependencies. It is easier to deploy and scale containers across a variety of environments due to their consistency.' ,'Datadog. “What Are Containerized Applications? | Datadog.” What Are Containerized Applications?, 16 Feb. 2022, www.datadoghq.com/knowledge-center/containerized-applications/#:~:text=The%20purpose%20of%20containerization%20is. Accessed 10 Aug. 2023.'],
            ['14', 'Docker', 'Container management and deployment platform. The Docker container image allows developers to package applications and their dependencies together.','“What Is a Container?” Docker, www.docker.com/resources/what-container/.'],
            ['15', 'Orchestration', 'Managing containerized applications automatically, including deploying, scaling, and monitoring. Orchestration tools such as Kubernetes are widely used.',' “What Is Orchestration?” Www.redhat.com, www.redhat.com/en/topics/automation/what-is-orchestration#:~:text=Orchestration%20is%20the%20automated%20configuration.'],
            ['16', 'Infrastructure as Code (IaC)', 'Automation and code are used to manage and provision infrastructure. Infrastructure as code can be defined with tools like Terraform and Ansible.','“What Is Infrastructure as Code? How It Works, Best Practices, Tutorials.” Stackify, 5 Sept. 2019, stackify.com/what-is-infrastructure-as-code-how-it-works-best-practices-tutorials/.'],
            ['17', 'Version Control', 'Coding and digital assets can be tracked over time by tracking changes. There are many versions control systems out there, but Git is one of the most popular.','“What Is Git Version Control?” GitLab, about.gitlab.com/topics/version-control/what-is-git-version-control/. '],
            ['18', 'Git', 'Managing changes to code and tracking versions is possible with a distributed version control system.','“What Is Git Version Control?” GitLab, about.gitlab.com/topics/version-control/what-is-git-version-control/.'],
            ['19', 'Pipeline', 'A series of automated steps that code changes must go through from development to deployment. Code changes are built, tested, and deployed.',' “How to Build a DevOps Pipeline: A Beginner’s Guide.” PagerDuty, www.pagerduty.com/resources/learn/what-is-a-pipeline-in-devops-and-how-to-build/#:~:text=A%20DevOps%20pipeline%20is%20a. Accessed 10 Aug. 2023..'],
            ['20', 'Scrum', 'Sprints are time-bound iterations that form the basis of an Agile framework. Adaptability, self-organization, and regular communication are key concepts of Scrum.','Scrum.org. “What Is Scrum?” Scrum.org, www.scrum.org/resources/what-scrum-module.'],
            ['21', 'Release Management', 'Managing the deployment of software releases across multiple environments by planning, scheduling, and coordinating them.','“What Is Release Management? - ServiceNow.” Servicenow.com, 2022, www.servicenow.com/products/itsm/what-is-release-management.html.'],
            ['22', 'Collaboration Tools', 'Communication and collaboration tools for development and operations teams, such as Slack and Microsoft Teams.',' “Team Collaboration Tools.” SearchUnifiedCommunications, www.techtarget.com/searchunifiedcommunications/definition/team-collaboration-tools.'],
            ['23', 'Artifact', ' Code that can be deployed, such as a compiled binary, library, or container image..',' “ What Is Artifacts in DevOps? - Audvik Labs. 5 May 2022, audviklabs.com/what-is-artifacts-in-devops/#:~:text=A%20DevOps%20artifact%20is%20a. Accessed 23 Aug. 2023.'],
            ['24', 'Configuration Drift', ' Manual or unautomated changes diverge an environment from its expected or desired configuration.',' “What Is Configuration Drift? | Tripwire.” Www.tripwire.com, www.tripwire.com/state-of-security/what-is-configuration-drift. Accessed 23 Aug. 2023.'],
            ['25', 'Dark Launching', ' To gather feedback before releasing a full version, a feature is released to a small subset of users without making it publicly visible.',' “When to Use a Dark Launch Strategy.” Devcycle.com, devcycle.com/blog/when-to-use-a-dark-launch-strategy#:~:text=Dark%20launching%20is%20a%20technique. Accessed 23 Aug. 2023.'],
            ['26', 'Immutable Infrastructure', 'Maintaining consistency and reducing configuration drift by treating infrastructure as disposable and replacing instances rather than making changes to existing ones.','  “Immutable Infrastructure Explained for Beginners.” Devopscube.com, 16 Aug. 2023, devopscube.com/immutable-infrastructure/. Accessed 23 Aug. 2023.'],
            ['27', 'Infrastructure as a Service (IaaS)', 'Users can rent virtual machines, storage, and networks through a cloud computing model that provides virtualized computing resources over the internet.','“Infrastructure as a Service | IAAS - Javatpoint.” Www.javatpoint.com, www.javatpoint.com/infrastructure-as-a-service.'],
            ['28', 'Serverless Computing', 'A model of cloud computing in which code can be written and deployed without managing the underlying infrastructure, and developers pay only for actual usage.',' “What Is Serverless?” Www.redhat.com, www.redhat.com/en/topics/cloud-native-apps/what-is-serverless.'],
            ['29', 'Puppet', ' Using a configuration management tool, infrastructure resources can be provisioned, configured, and managed automatically.',' “Puppet Tutorial - Javatpoint.” Www.javatpoint.com, www.javatpoint.com/puppet#:~:text=Puppet%20is%20an%20open%2Dsource. Accessed 23 Aug. 2023.'],
            ['30', 'Jenkins', ' Continuous Integration and Continuous Delivery automation server that allows code to be built, tested, and deployed continuously.',' What Is Jenkins? Working, Uses, Pipelines, and Features |. www.spiceworks.com/tech/devops/articles/what-is-jenkins/. '],
            ['31', 'Kubernetes', 'A containerized application management system that automates deployment, scaling, and management. ',' “Overview.” Kubernetes, kubernetes.io/docs/concepts/overview/#:~:text=Kubernetes%20is%20a%20portable%2C%20extensible. '],
            ['32', 'DevSecOps:', 'The DevOps process should incorporate security practices to ensure that security is taken into account throughout the development and deployment process. ',' Works Cited “What Is DevSecOps? | Trellix.” Www.trellix.com, www.trellix.com/en-us/security-awareness/operations/what-is-devsecops.html#:~:text=The%20goal%20of%20DevSecOps%20is. Accessed 5 Sept. 2023. '],
            ['33', 'Service Level Agreement (SLA)', 'An assurance regarding the availability, performance, and reliability of a system or service. ',' Works Cited “Definition of Service-Level Agreement (SLA) - Gartner Information Technology Glossary.” Gartner, www.gartner.com/en/information-technology/glossary/sla-service-level-agreement#:~:text=A%20service%2Dlevel%20agreement%20(SLA.) '],
            ['34', 'Infrastructure Monitoring:', 'Monitoring the health and performance of servers, networks, and infrastructure components in order to ensure that service-level objectives are met. ',' https://www.dynatrace.com/news/blog/what-is-infrastructure-monitoring-2/#:~:text=Infrastructure%20monitoring%20is%20the%20process,the%20oxygen%20to%20your%20infrastructure.'],
            ['35', 'Automation', ' Automation of repetitive tasks using scripts and tools, reducing errors and manual intervention.',' “Approaches to Automating Microservices Testing - DZone.” Dzone.com, dzone.com/articles/approaches-to-automating-microservices-testing#:~:text=Approaches%20to%20Microservices%20Test%20Automation. Accessed 5 Sept. 2023. '],
            ['36', 'Terraform ', 'It is an open-source infrastructure as code (IaC) tool that automates infrastructure provisioning. ',' “What Is Terraform? | Definition from TechTarget.” IT Operations, www.techtarget.com/searchitoperations/definition/Terraform#:~:text=HashiCorp%20Terraform%20is%20an%20infrastructure. Accessed 5 Sept. 2023.  '],
            ['37', 'Canary Deployment:', 'Deployment strategy that involves gradually releasing new versions of an application to a subset of users for testing. ',' “Overview.” Kubernetes, kubernetes.io/docs/concepts/overview/#:~:text=Kubernetes%20is%20a%20portable%2C%20extensible. '],
            ['38', 'Monitoring and Logging', 'Monitoring performance and health of applications and infrastructure to identify and resolve issues as quickly as possible.',' Works Cited Ihuman, Anita. “Microservice Tools: The Top 10 for Monitoring and Testing.” Architect.io, 30 Aug. 2022, www.architect.io/blog/2022-08-30/microservices-top-10-testing-monitoring/#:~:text=Introduction%20to%20monitoring%20in%20microservices. Accessed 5 Sept. 2023.'],
            ['39', 'High Availability (HA)', 'Keeping systems and applications up and running at all times, often through redundancy and failover. ','https://www.filecloud.com/blog/an-introduction-to-high-availability-architecture/#:~:text=High%20availability%20architecture%20is%20an,at%20times%20of%20high%20loads. '],
            ['40', 'Blue-Green Deployment:', 'The deployment of a new version of an application alongside the old one, allows a quick rollback in case of problems. ','Fernandez, Tomas. “What Is Blue-Green Deployment?” Semaphore, 5 Aug. 2020, semaphoreci.com/blog/blue-green-deployment#:~:text=They%20finally%20settled%20on%20using. Accessed 5 Sept. 2023.'],
            ['41', 'Kubeconfig', 'Cluster access information, including API server addresses and authentication details, is stored in a file.','hector-vido. “What Is a Kubeconfig File?” Enable Sysadmin, 8 Feb. 2023, www.redhat.com/sysadmin/kubeconfig. Accessed 18 Sept. 2023.'],
            ['42', 'Service Mesh', 'Provides features such as load balancing, security, and observability for service-to-service communication. ','“Managing Microservices with the Istio Service Mesh.” Kubernetes, 31 May 2017, kubernetes.io/blog/2017/05/managing-microservices-with-istio-service-mesh/. Accessed 19 Sept. 2023.'],
            ['43', 'CNI (Container Network Interface):', 'Kubernetes network plugins configure network connectivity between pods using a standard. ',' “Network Plugins.” Kubernetes, kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/.'],
            ['44', 'CRD (Custom Resource Definition)', 'The deployment of a new version of an application alongside the old one, allows a quick rollback in case of problems. ','“Custom Resources.” Kubernetes, kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/..'],
            ['45', 'Pod', 'A Kubernetes container consists of one or more containers sharing a common network namespace and storage','“Pods.” Kubernetes, kubernetes.io/docs/concepts/workloads/pods/. '],
            ['46', 'Node', 'Kubernetes clusters run pods on physical or virtual machines. ','“Nodes.” Kubernetes, kubernetes.io/docs/concepts/architecture/nodes/#:~:text=A%20node%20may%20be%20a. Accessed 19 Sept. 2023.'],
            ['47', 'ReplicaSet', 'It ensures that a specified number of pod replicas are always running in Kubernetes.',' “ReplicaSet.” Kubernetes, kubernetes.io/docs/concepts/workloads/controllers/replicaset/.'],
            ['48', 'Ingress', 'Kubernetes resource that manages external access to cluster services, typically for HTTP routing. ','“Ingress.” Kubernetes, kubernetes.io/docs/concepts/services-networking/ingress/.'],
            ['49', 'DaemonSet', 'Runs a copy of a pod on all or some nodes, typically used for system-level tasks. ','“DaemonSet.” Kubernetes, kubernetes.io/docs/concepts/workloads/controllers/daemonset/.'],
            ['50', 'Helm', 'Pre-configured charts simplify application deployment and management with this Kubernetes package manager.','“What Is Helm? A Complete Guide.” CircleCI, 16 Mar. 2023, circleci.com/blog/what-is-helm/#:~:text=Helm%20is%20a%20tool%20that. Accessed 19 Sept. 2023.'],
    ];

        // Get the table body element
        const tableBody = document.getElementById('table-body');

        // Loop through the data and create the table rows and cells
        data.forEach((row) => {
            const tableRow = document.createElement('tr');

            row.forEach((cellData) => {
                const tableCell = document.createElement('td');
                tableCell.textContent = cellData;
                tableRow.appendChild(tableCell);
            });

            tableBody.appendChild(tableRow);
        });
    </script>
</body>
</html>
